[user]
        name = tienshuoc
        email = yorkygrizzly@gmail.com
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[difftool]
        prompt = false
[diff]
        tool = nvimdiff
[difftool "nvimdiff"]
        cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
        tool = nvimdiff
[alias]
        b = !git branch -vv
        s = !git status
        dt = !git difftool
        pnto = !git push -u origin $(git symbolic-ref --short HEAD)
        mm = !git fetch && git pull origin main
        su = !git submodule update --init --recursive
        l = !git log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all
[pager]
        branch = false
[submodule]
        recurse = true
[color]
        ui = true
[push]
        default = simple
