[user]
        name = Tien-Shuo Chang
        email = yorkygrizzly@gmail.com
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[alias]
        b = !git branch -vv
        s = !git status
        pnto = !git push -u origin $(git symbolic-ref --short HEAD)
        mm = !git fetch && git pull origin main
        su = !git submodule update --init --recursive
[pager]
        branch = false
